[koji]
;url of XMLRPC server
server = {{ kojid_staging_hub_url }}

;url of web interface
weburl = {{ kojid_staging_web_url }}

;url of package download site
topurl = {{ kojid_staging_files_url }}

;path to the koji top directory
topdir = {{ kojid_staging_mount }}

; https ca, not for ssl auth
serverca = {{ kojid_ca_bundle }}
