[signing]
passphrase = {{ koji_hub_key_gpg_keyphrase }}
gpg_key_name = {{ koji_hub_plugin_key_gpg_name }}
gpg_key_id = {{ koji_hub_plugin_key_gpg_id }}
build_target = {{ koji_hub_plugin_key_build_target }}
testing_tag = {{ koji_hub_plugin_key_testing_tag }}
send_to_testing = {{ koji_hub_plugin_key_testing }}
sigul_config = {{ koji_hub_plugin_key_sigul_config }}
