[koji]
;url of XMLRPC server
server = {{ kojid_hub_url  }}

;url of web interface
weburl = {{ kojid_web_url  }}

;url of package download site
topurl = {{ kojid_files_url  }}

;path to the koji top directory
topdir = {{ kojid_mount  }}

; https ca, not for ssl auth
serverca = {{ kojid_ca_bundle }}
